<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    {% block head %}
    <link rel="stylesheet" href="{{ static_url }}style.css" />
    <title>{% block title %}{% endblock %}{{ site_name }}</title>
    {% endblock %}

</head>
<body>
    <div id="header">
    {% block header %}
    {% endblock %}
    </div>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
    {% block footer %}{% endblock %}
        <div id="breadcrumb" class="quotes">
        <ul>
            <li><a href="/">home</a>
            <li><a href="{% url links-list %}">links</a></li>
            <li><a href="{% url quotes-list %}">quotes</a></li>
            <li><a href="{{ irc_channel_link }}">visit!</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Internet_Relay_Chat">?</a></li>
        </ul>
        </div>
    </div>
</body>
